{{include file="public/header" /}}

<!-- nav start -->
{{include file="public/nav" /}}
<!-- nav end -->

<!-- header top nav -->
{{include file="public/header_top_nav" /}}

<!-- search -->
{{include file="public/nav_search" /}}

<!-- header nav -->
{{include file="public/header_nav" /}}


<!-- 楼层数据顶部钩子 -->
{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
    <div class="plugins-tag">
        <span>plugins_view_home_floor_top</span>
    </div>
{{/if}}
{{if !empty($plugins_view_home_floor_top_data) and is_array($plugins_view_home_floor_top_data)}}
    {{foreach $plugins_view_home_floor_top_data as $hook}}
        {{if is_string($hook) or is_int($hook)}}
            {{$hook|raw}}
        {{/if}}
    {{/foreach}}
{{/if}}

<!-- 楼层-主内容 -->
<div class="home-floor goods-detail" data-spec-detail-ajax-url="{{:MyUrl('index/goods/specdetail')}}" data-spec-type-ajax-url="{{:MyUrl('index/goods/spectype')}}">
    <!-- 楼层 -->
    {{if !empty($goods_floor_list)}}
        {{foreach $goods_floor_list as $key=>$floor}}
            {{if isset($floor['is_home_recommended']) and $floor['is_home_recommended'] eq 1}}
                <div id="floor{{$key+1}}">
                    <div class="am-container">
                        <div class="items-nav-title" {{if !empty($floor['bg_color'])}}style="border-bottom: 2px solid {{$floor.bg_color}};"{{/if}}>
                            <p class="floor-title">{{$floor.name}}</p>
                            <p class="floor-desc">{{$floor.vice_name}}</p>
                            <div class="today-brands ">
                                {{if !empty($floor['items'])}}
                                    {{foreach $floor.items as $key=>$category}}
                                        {{if !empty($category['items'])}}
                                            {{foreach $category.items as $keys=>$categorys}}
                                                {{if $key lt 6 and $keys eq 0 and isset($categorys['is_home_recommended']) and $categorys['is_home_recommended'] eq 1}}
                                                    <a href="{{:MyUrl('index/search/index', ['category_id'=>$categorys['id']])}}" target="_blank">{{$categorys.name}}</a>
                                                {{/if}}
                                            {{/foreach}}
                                        {{/if}}
                                    {{/foreach}}
                                {{/if}}
                            </div>
                            <span class="more">
                                <a href="{{:MyUrl('index/search/index', ['category_id'=>$floor['id']])}}" target="_blank">更多 <i class="am-icon-angle-right"></i></a>
                            </span>
                        </div>
                    </div>
                    
                    <div class="am-g am-g-fixed floor">
                        <!-- 首页楼层内部顶部钩子 -->
                        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                            <div class="plugins-tag">
                                <span>plugins_view_home_floor_inside_top</span>
                            </div>
                        {{/if}}
                        {{php}}
                            $hook_name = 'plugins_view_home_floor_inside_top';
                            $hook_data = Hook::listen($hook_name, ['hook_name'=>$hook_name, 'is_backend'=>false, 'floor_id'=>$key+1, 'floor'=>$floor]);
                            if(!empty($hook_data) && is_array($hook_data))
                            {
                                foreach($hook_data as $hook)
                                {
                                    if(is_string($hook) || is_int($hook))
                                    {
                                        echo htmlspecialchars_decode($hook);
                                    }
                                }
                            }
                        {{/php}}

                        <div class="am-u-sm-3 aggregation" {{if !empty($floor['bg_color'])}}style="background-color:{{$floor.bg_color}};"{{else /}}style="background-color:#eaeaea;"{{/if}}>
                            <div class="word">
                                {{if !empty($floor['items'])}}
                                    {{foreach $floor.items as $category_key=>$category}}
                                        {{if $category_key lt 6 and isset($category['is_home_recommended']) and $category['is_home_recommended'] eq 1}}
                                            <a href="{{:MyUrl('index/search/index', ['category_id'=>$category['id']])}}" class="outer" target="_blank">{{:mb_substr($category['name'], 0, 4, 'utf-8')}}</a>
                                        {{/if}}
                                    {{/foreach}}
                                {{/if}}           
                            </div>
                            <div class="outer-con">
                                <div class="describe">{{$floor.describe}}</div>
                            </div>
                            {{if !empty($floor['big_images'])}}
                                <a href="{{:MyUrl('index/search/index', ['category_id'=>$floor['id']])}}" target="_blank">
                                    <img src="{{$floor.big_images}}" />
                                </a>
                            {{/if}}
                            <div class="triangle-topright"></div>

                            <!-- 首页楼层内部底部钩子 -->
                            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                                <div class="plugins-tag">
                                    <span>plugins_view_home_aggregation_inside_bottom</span>
                                </div>
                            {{/if}}
                            {{php}}
                                $hook_name = 'plugins_view_home_aggregation_inside_bottom';
                                $hook_data = Hook::listen($hook_name, ['hook_name'=>$hook_name, 'is_backend'=>false, 'floor_id'=>$key+1, 'floor'=>$floor]);
                                if(!empty($hook_data) && is_array($hook_data))
                                {
                                    foreach($hook_data as $hook)
                                    {
                                        if(is_string($hook) || is_int($hook))
                                        {
                                            echo htmlspecialchars_decode($hook);
                                        }
                                    }
                                }
                            {{/php}}
                        </div>

                        <div class="goods-list">
                            {{if !empty($floor['goods'])}}
                                {{foreach $floor.goods as $goods_key=>$goods}}
                                    <div class="goods-items">
                                        <a href="{{$goods.goods_url}}" target="_blank" class="am-block">
                                            <!-- 首页楼层商品内部顶部钩子 -->
                                            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                                                <div class="plugins-tag">
                                                    <span>plugins_view_home_goods_inside_top</span>
                                                </div>
                                            {{/if}}
                                            {{php}}
                                                $hook_name = 'plugins_view_home_goods_inside_top';
                                                $hook_data = Hook::listen($hook_name, ['hook_name'=>$hook_name, 'is_backend'=>false, 'floor_id'=>$key+1, 'goods_id'=>$goods['id'], 'goods'=>$goods]);
                                                if(!empty($hook_data) && is_array($hook_data))
                                                {
                                                    foreach($hook_data as $hook)
                                                    {
                                                        if(is_string($hook) || is_int($hook))
                                                        {
                                                            echo htmlspecialchars_decode($hook);
                                                        }
                                                    }
                                                }
                                            {{/php}}
                                            <img src="{{$goods.home_recommended_images}}" alt="{{$goods.title}}" class="goods-images" />
                                        </a>
                                        <div class="outer-con">
                                            <div class="goods-title am-text-truncate-2 am-margin-bottom-xs">
                                                <a href="{{$goods['goods_url']}}" target="_blank" {{if !empty($goods.title_color)}}style="color:{{$goods.title_color}};"{{/if}}>{{$goods.title}}</a>
                                            </div>

                                            <!-- 首页楼层商品售价顶部钩子 -->
                                            {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                                                <div class="plugins-tag">
                                                    <span>plugins_view_home_goods_inside_price_top</span>
                                                </div>
                                            {{/if}}
                                            {{php}}
                                                $hook_name = 'plugins_view_home_goods_inside_price_top';
                                                $hook_data = Hook::listen($hook_name, ['hook_name'=>$hook_name, 'is_backend'=>false, 'floor_id'=>$key+1, 'goods_id'=>$goods['id'], 'goods'=>$goods]);
                                                if(!empty($hook_data) && is_array($hook_data))
                                                {
                                                    foreach($hook_data as $hook)
                                                    {
                                                        if(is_string($hook) || is_int($hook))
                                                        {
                                                            echo htmlspecialchars_decode($hook);
                                                        }
                                                    }
                                                }
                                            {{/php}}
                                            <p class="price price-{{$goods['id']}} am-text-truncate" data-original-price="{{$goods.price}}">{{$price_symbol}}{{$goods.price}}</p>
                                        </div>
                                        <!-- <div class="mydiv" style="border:3px solid #000">-->
                                        <div class="mydiv">
                                            <!--各种规格-->
                                            {{if $goods['is_shelves'] == 1 and $goods['inventory'] gt 0}}

                                                <dl class="iteminfo_parameter sys_item_specpara">
                                                    <!-- <dt class="buy-event login-event" data-type="buy">-->
                                                    <!-- <div class="cart-title">-->
                                                    <!-- <span class="specpara-title">可选规格</span>-->
                                                    <!-- <span class="am-icon-angle-right"></span>-->
                                                    <!-- </div>-->
                                                    <!-- </dt>-->
                                                    <dd>
                                                        <!--操作页面-->
                                                        <div class="theme-popover-mask"></div>
                                                        <div class="theme-popover">
                                                            <div class="theme-span"></div>
                                                            <!-- <div class="theme-poptit">-->
                                                            <!-- <a href="javascript:;" title="关闭" class="close am-icon-close am-icon-sm"></a>-->
                                                            <!-- </div>-->
                                                            <div class="theme-popbod dform">
                                                                <form class="theme-signin" name="loginform" action="javascript:;">
                                                                    <div class="theme-signin-left">
                                                                        {{if !empty($goods['specifications']['choose'])}}
                                                                            {{foreach $goods.specifications.choose as $key=>$spec}}
                                                                                {{if !empty($spec['value']) && $spec.name != '颜色'}}
                                                                                    <div class="theme-options sku-items-{{$goods.id}}">
                                                                                    <!-- 规格列表-->
                                                                                        <ul>
                                                                                            <li class="sku-dont-choose">{{$spec.name}}</li>
                                                                                            {{foreach $spec.value as $keys=>$specs}}
                                                                                                <li class="sku-line sku-line-images {{if isset($specs['is_only_level_one']) and isset($specs['inventory']) and $specs['inventory'] elt 0}} sku-items-disabled{{/if}}"
                                                                                                    data-type-value="{{$spec.name}}"
                                                                                                    data-value="{{$specs.name}}"
                                                                                                    data-id="{{$goods.id}}">
                                                                                                    {{$specs['name']}}
                                                                                                </li>
                                                                                            {{/foreach}}
                                                                                        </ul>
                                                                                     </div>
                                                                                {{/if}}
                                                                            {{/foreach}}
                                                                        {{/if}}
                                                                        <div class="theme-options">
                                                                            <div class="cart-title number">数量</div>
                                                                            <dd>
                                                                                <div class="am-input-group am-input-group-sm number-tag">
                                                                                    <button class="am-input-group-label min" data-id="{{$goods['id']}}" type="button">-</button>
                                                                                    <input type="number" class="am-form-field" value="{{$goods.buy_min_number}}" id="text_box-{{$goods['id']}}"
                                                                                           data-id="{{$goods['id']}}" min="{{$goods.buy_min_number}}"
                                                                                           max="{{if empty($goods['buy_max_number'])}}{{$goods.inventory}}{{else /}}{{$goods.buy_max_number}}{{/if}}"
                                                                                           data-original-max="{{$goods.inventory}}" />
                                                                                    <button class="am-input-group-label add" data-id="{{$goods['id']}}" type="button">+</button>
                                                                                </div>
                                                                                <span class="tb-hidden stock-tips">
                                                                                    库存
                                                                                    <span class="stock-{{$goods['id']}}"
                                                                                          data-original-stock="{{$goods.inventory}}"
                                                                                          data-min-limit="{{$goods.buy_min_number}}"
                                                                                          data-max-limit="{{$goods.buy_max_number}}"
                                                                                          data-unit="{{$goods.inventory_unit}}">
                                                                                        {{$goods.inventory}}
                                                                                    </span>
                                                                                    {{$goods.inventory_unit}}
                                                                                </span>
                                                                            </dd>
                                                                        </div>
                                                                        <!-- 购买导航 -->
                                                                        <div class="buy-nav {{if $common_site_type eq 1}}exhibition-nav{{/if}}">
                                                                            {{if !empty($goods.is_shelves)}}
                                                                                {{if $goods['inventory'] gt 0}}
                                                                                    <div class="submit">
                                                                                        <div class="clearfix tb-btn tb-btn-basket buy-event login-event cart-submit"
                                                                                             data-type="cart"
                                                                                             data-id="{{$goods.id}}"
                                                                                             onclick="CartAdd($(this))"
                                                                                             data-ajax-url="{{:MyUrl('index/Cart/Save')}}">
                                                                                            <button class="joincart" title="加入购物车" href="javascript:;" type="button"><i></i>加入购物车</button>
                                                                                        </div>
                                                                                    </div>
                                                                                {{else /}}
                                                                                    <p class="goods-not-buy-tips">商品卖光了</p>
                                                                                {{/if}}
                                                                            {{/if}}
                                                                            {{if $goods.is_shelves neq 1}}
                                                                                <p class="goods-not-buy-tips">商品已下架</p>
                                                                            {{/if}}
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </dl>
                                            {{/if}}

                                            <!-- 商品页面基础信息底部钩子 -->
                                            <!-- {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                                                <div class="plugins-tag">
                                                    <span>plugins_view_goods_detail_base_bottom</span>
                                                </div>
                                            {{/if}} -->
                                            {{if !empty($plugins_view_goods_detail_base_bottom_data) and is_array($plugins_view_goods_detail_base_bottom_data)}}
                                                {{foreach $plugins_view_goods_detail_base_bottom_data as $hook}}
                                                    {{if is_string($hook) or is_int($hook)}}
                                                        {{$hook|raw}}
                                                    {{/if}}
                                                {{/foreach}}
                                            {{/if}}
                                        </div>

                                        <!-- 首页楼层商品内部底部钩子 -->
                                        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                                            <div class="plugins-tag">
                                                <span>plugins_view_home_goods_inside_bottom</span>
                                            </div>
                                        {{/if}}
                                        {{php}}
                                            $hook_name = 'plugins_view_home_goods_inside_bottom';
                                            $hook_data = Hook::listen($hook_name, ['hook_name'=>$hook_name, 'is_backend'=>false, 'floor_id'=>$key+1, 'goods_id'=>$goods['id'], 'goods'=>$goods]);
                                            if(!empty($hook_data) && is_array($hook_data))
                                            {
                                                foreach($hook_data as $hook)
                                                {
                                                    if(is_string($hook) || is_int($hook))
                                                    {
                                                        echo htmlspecialchars_decode($hook);
                                                    }
                                                }
                                            }
                                        {{/php}}
                                    </div>
                                {{/foreach}}
                            {{/if}}
                        </div>

                        <!-- 首页楼层内部底部钩子 -->
                        {{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
                            <div class="plugins-tag">
                                <span>plugins_view_home_floor_inside_bottom</span>
                            </div>
                        {{/if}}
                        {{php}}
                            $hook_name = 'plugins_view_home_floor_inside_bottom';
                            $hook_data = Hook::listen($hook_name, ['hook_name'=>$hook_name, 'is_backend'=>false, 'floor_id'=>$key+1, 'floor'=>$floor]);
                            if(!empty($hook_data) && is_array($hook_data))
                            {
                                foreach($hook_data as $hook)
                                {
                                    if(is_string($hook) || is_int($hook))
                                    {
                                        echo htmlspecialchars_decode($hook);
                                    }
                                }
                            }
                        {{/php}}
                    </div>
                </div>
            {{/if}}
        {{/foreach}}
    {{/if}}
</div>

<!-- 楼层数据底部钩子 -->
{{if isset($shopxo_is_develop) and $shopxo_is_develop eq true and (!isset($is_footer) or $is_footer eq 1)}}
    <div class="plugins-tag">
        <span>plugins_view_home_floor_bottom</span>
    </div>
{{/if}}
{{if !empty($plugins_view_home_floor_bottom_data) and is_array($plugins_view_home_floor_bottom_data)}}
    {{foreach $plugins_view_home_floor_bottom_data as $hook}}
        {{if is_string($hook) or is_int($hook)}}
            {{$hook|raw}}
        {{/if}}
    {{/foreach}}
{{/if}}

{{include file="public/footer" /}}